<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl5E5kgBnL_C1nSEmeAlTC1N-w1hzACeA</string>
	<key>GCM_SENDER_ID</key>
	<string>367862289249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment3</string>
	<key>PROJECT_ID</key>
	<string>practiceproject-2f6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>practiceproject-2f6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367862289249:ios:30f827cedeb864b844ab20</string>
</dict>
</plist>